 .container{
  width: 100vw;
  height: auto;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 li{
  border: 2px solid black;
  /* width:40%; */
  margin-bottom: 10px;
  padding: 10px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
 }
 button{
  background-color: black;
  color: white;
  height: 40px;
  margin-bottom: 50px;
  font-weight: 900;
  font-size: 20px;
 }
 .buttons{
  gap: 20px;
 }